<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480"  />
	
	<pages theme="MyCustomTheme"></pages> 
    </system.web>
	
	

  <connectionStrings>
    <add name="Addressbook3Tier" connectionString="data Source = DESKTOP-N3N2V66\SQLEXPRESS ; initial catalog = AddressBook3TierMultiUser ; integrated security = true"/>
  </connectionStrings>

</configuration>
